.contact-header {
height: 25vh;
display: flex;
justify-content: center;
align-items: center;
}
@media (max-width: 480.98px) /*Small devices (landscape phones, less than 768px)*/ { 

.contact-header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

};

.contact-form {
    width: 100vw;
    height: auto;
}

 /*-----------------------------------------------------------------------*/
}